/Design-Patterns/bin
/Design-Patterns/obj
/Design-Principles/bin/Debug/net5.0
/Design-Principles/obj
/.vs
/Cube-System/bin
/Cube-System/obj
/Cube-System/src/ApiGateways/Web.Bff.DiscussionBoard/obj
/Cube-System/src/ApiGateways/Web.Bff.DiscussionBoard/bin
/Cube-System/src/Services/Board/Board.API/obj
/Cube-System/src/Services/Board/Board.API/bin
/Cube-System/src/Services/Identity/Identity.API/obj
/Cube-System/src/Services/Identity/Identity.API/bin
/Cube-System/src/Services/User/User.API/obj
/Cube-System/src/Services/User/User.API/bin
/Cube-System/src/Services/User/Cube.User.API
/Cube-System/src/Services/User/User.Domain/bin
/Cube-System/src/Services/User/User.Domain/obj
/Cube-System/.vs
/Cube-System/src/Services/Board/Board.Domain/bin
/Cube-System/src/Services/Board/Board.Domain/obj
/Cube-System/src/Tests/Application.FunctionalTests/bin
/Cube-System/src/Tests/Application.FunctionalTests/obj
